* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.app {
    display: grid;
    grid-template-rows:
            "nav"
            "header"
            "main"
            "about"
            "footer";
}

nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 96px;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 580px;
    height: 40px;
    left: 570px;
    padding-top: 40px;
    margin-left: 80px;
}

nav li {
    margin-left: 30px;
}

nav img {
    width: 200px;
    height: 56px;
    left: 290px;
    padding-top: 24px;
}

nav a:visited {
    color: #333333;
}

header {
    background-color: #495E57;
    height: 336px;
    padding-left: 290px;
    padding-right: 290px;
}

header div {
    margin: auto;
}

header h1 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    white-space: nowrap;
    line-height: 50px;
    color: #F4CE14;
    margin-top: 45px;
}

header h2 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #EDEFEE;
}

header p {
    width: 220px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #EDEFEE;
    margin-top: 40px;
}

button {
    width: 170px;
    height: 40px;
    background: #F4CE14;
    border-radius: 16px;
    margin-top: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    border: none;

}

header img {
    border-radius: 16px;
    width: 330px;
    height: 384px;
    margin-top: 16px;
    margin-left: 100px;
}

.specials {
    color: #333333;
    margin: 150px 310px;
}

.specialsCard {
    width: 269px;
    height: 400px;
    background: #EDEFEE;
    border-radius: 16px 16px 0 0;
}

.specialsImg {
    width: 269px;
    height: 176px;
    border-radius: 16px 16px 0 0;
}

footer {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
    padding: 80px 290px;
}

footer h1 {
    color: yellow;
}

footer .navLink {
    list-style-type: none;
}

footer div {
    margin: 20px 70px;
}

footer a:visited {
    color: #EDEFEE;
}

h1 {
    font-family: "Markazi Text";
    font-size: 64px;
}

h2 {
    font-family: "Markazi Text";
    font-size: 40px;
}

h5 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #F4CE14;
}

h4 {
    font-family: "Karla";
    font-size: normal;
    font-weight: 500;
    font-size: 16px;
    color: #EE9972;
    text-align: right;
}

p {
    font-family: "Karla";
    font-size: 18px;
}

li {
    font-family: "Karla";
    font-size: 18px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
    background-color: #EE9972;
    padding: "120px 290px 80px 290px";
}

label {
    font-family: "Markazi Text";
    font-style: "normal";
    font-weight: 400;
    font-size: 40px;
}

/* Style the list */
.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 60px;
}

/* Display list items side by side */
.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: "Karla";
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
    padding: 24px;
    color: #333333;
    content: "-\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a {
    color: #333333;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
    color: #333333;
    text-decoration: none;
}