* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.app {
    display: grid;
    grid-template-rows:
            "nav"
            "header"
            "main"
            "about"
            "footer";
}

nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 96px;
}

nav ul {
    display: flex;
    list-style-type: none;
    width: 580px;
    height: 40px;
    left: 570px;
    padding-top: 40px;
    margin-left: 80px;
}

nav li {
    margin-left: 30px;
}

nav img {
    width: 200px;
    height: 56px;
    left: 290px;
    padding-top: 24px;
}

header {
    background-color: #495E57;
    display: grid;
    grid-template-columns: "div div";
    height: 336px;
}

header div {
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    white-space: nowrap;
    line-height: 50px;
    color: #F4CE14;
    margin-top: 45px;
}

header h2 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
    color: #EDEFEE;
}

header p {
    width: 220px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #EDEFEE;
    margin-top: 40px;
}

button {
    width: 170px;
    height: 40px;
    background: #F4CE14;
    border-radius: 16px;
    margin-top: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    border: none;

}

header img {
    border-radius: 16px;
    width: 330px;
    height: 384px;
    margin-top: 16px;

}

main {
    margin: 150px auto;
}

.specials {
    color: #333333;
    margin: auto;
}

.specialsCard {
    width: 269px;
    height: 400px;
    background: #EDEFEE;
    border-radius: 16px 16px 0 0;
}

.specialsImg {
    width: 269px;
    height: 176px;
    border-radius: 16px 16px 0 0;
}

h1 {
    font-family: "Markazi Text";
    font-size: 64px;
}

h2 {
    font-family: "Markazi Text";
    font-size: 40px;
}

h4 {
    font-family: "Karla";
    font-size: normal;
    font-weight: 500;
    font-size: 16px;
    color: #EE9972;
    text-align: right;
}

p {
    font-family: "Karla";
    font-size: 18px;
}

li {
    font-family: "Karla";
    font-size: 18px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: #495E57;
    display: flex;
    flex-direction: row;
}

footer h1 {
    color: yellow;
}

section {
    display: flex;
    flex-direction: row;
    background-color: #EE9972;
}

img {
    max-height: 500px;
}

.navLink {
    list-style-type: none;
}
